---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = (await getCollection('blog', ({ data }) => !data.draft)).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);

const fmt = (d: Date) =>
  `${d.getFullYear()}-${String(d.getMonth() + 1).padStart(2, '0')}-${String(
    d.getDate()
  ).padStart(2, '0')}`;
---

<BaseLayout description="gkiwi 的博客">
  <ul class="post-list">
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.id}/`}>{post.data.title}</a>
          <span class="date">{fmt(post.data.date)}</span>
        </li>
      ))
    }
  </ul>
</BaseLayout>
